


@font-face {
    font-family: $ff-OpenSansRegular;
    src: url(../assets/fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $ff-OpenSansSemiBold;
    src: url(../assets/fonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: $ff-OpenSansBold;
    src: url(../assets/fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}






