
$color-white: #FFFFFF;
$color-black: #000000;
$colorBlack: #140A32;

$primary-green: #016f52;
$primary-white-blue: #1a77a3;
$primary-blue: #1c77a4;
$primary-grey: #e5e5e5;
$primary-white-green: #81d2bc;
$primary-white-grey: #d7e8ef;
$primary-black:#140A32;

$color-green:#33836E;
$color-grey: #f7f7f8;

$btn-bg-green: #E0ECE9;
$btn-text-green: #33836E;
$bg-light-green: #12B76A;

$ff-OpenSansRegular: 'OpenSans-Regular';
$ff-OpenSansSemiBold: 'OpenSans-SemiBold';
$ff-OpenSansBold: 'OpenSans-Bold';