#modal {
  width: 896px;
  height: 397px;
  position: fixed;
  z-index: 999999;
  border-radius: 20px;
  background: var(--base-white, #fff);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  top: 30%;
  right: 500px;
  overflow: hidden;
  .modal__wrapper {
    display: flex;
    .right_md {
      margin-top: 60px;

      .right_mdsd {
        display: flex;
        align-items: center;
        gap: 220px;
        .rasmlar {
          position: relative;
          .e15 {
            z-index: 1;
          }
          .e16 {
            position: absolute;
            z-index: 2;
            left: 33px;
          }
          .e17 {
            position: absolute;
            z-index: 3;
            left: 66px;
          }
          .e18 {
            position: absolute;
            z-index: 4;
            left: 98px;
          }
          .e19 {
            position: absolute;
            z-index: 5;
            left: 130px;
          }
          .e20 {
            position: absolute;
            z-index: 6;
            left: 162px;
          }
          .e21 {
            position: absolute;
            z-index: 6;
            left: 192px;
          }
        }

        .md_p {
          color: var(--base-black, #140a32);
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      form {
        margin-top: 20px;
        display: flex;
        gap: 15px;
        align-items: center;
        .form_card {
          box-sizing: border-box;
          width: 205px;
          height: 56px;
          padding: 8px 14px;
          background: #fff;
          border-radius: 10px;
          border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
          background: var(--base-white, #fff);
          input {
            border: none;
            outline-style: none;
          }

          label {
            color: var(--gray-low, rgba(47, 43, 67, 0.4));
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        button {
          width: 137px;
          height: 56px;
          border-radius: 10px;
          background: var(--base-black, #140a32);
          padding: 16px 24px;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          color: var(--base-white, #fff);
          border: none;
          cursor: pointer;
        }
      }

      .p_end {
        margin-top: 15px;
        color: var(--gray-low, rgba(47, 43, 67, 0.4));
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    .md_close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 24px;
      height: 24px;
      background: #fff;
      &:hover {
        background: $primary-grey;
      }
    }
  }
}

#blur {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999998;
  backdrop-filter: blur(10px);
}

.open_menu {
  display: none;
}

.modal_res {
  .res_wrapper {
    position: relative;
    width: 360px;
    height: 527px;
    background: red;
    padding: 1px 20px 20px 20px;
    h1 {
      color: var(--base-black, #140a32);
      font-family: $ff-OpenSansBold;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.66px;
    }

    form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      .form_card {
        width: 100% !important;
        box-sizing: border-box;
        width: 205px;
        height: 56px;
        padding: 8px 14px;
        background: #fff;
        border-radius: 10px;
        border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
        background: var(--base-white, #fff);
        input {
          border: none;
          outline-style: none;
        }

        label {
          color: var(--gray-low, rgba(47, 43, 67, 0.4));
          text-align: center;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      button {
        width: 100%;
        height: 56px;
        border-radius: 10px;
        background: var(--base-black, #140a32);
        padding: 16px 24px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: var(--base-white, #fff);
        border: none;
        cursor: pointer;
      }
    }

    .pb {
      color: var(--gray-medium, rgba(47, 43, 67, 0.5));
      font-family: Open Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-top: 15px;
    }

    .onl {
      display: flex;
      justify-content: end;
      img {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .right_mdsd {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;
        gap: 50px;
        .rasmlar {
          position: relative;
          img {
            width: 40px;
            height: 40px;
          }
          .e15 {
            z-index: 1;
          }
          .e16 {
            position: absolute;
            z-index: 2;
            left: 22px;
          }
          .e17 {
            position: absolute;
            z-index: 3;
            left: 44px;
          }
          .e18 {
            position: absolute;
            z-index: 4;
            left: 65px;
          }
          .e19 {
            position: absolute;
            z-index: 5;
            left: 85px;
          }
          .e20 {
            position: absolute;
            z-index: 6;
            left: 105px;
          }
          .e21 {
            position: absolute;
            z-index: 6;
            left: 125px;
          }
        }

        .md_p {
          color: var(--base-black, #140a32);
          text-align: center;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}

@media only screen and (max-width: 428px) {
  .open_menu {
    margin-top: -20px;
    display: block;
    transform: translateX(-428px);
    position: fixed;
    z-index: 99999999999;
    transition: all 0.3s ease-in-out;
    .menu_wrapper {
      width: 390px;
      position: relative;

      height: 420px;
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(10px);
      .header__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        &--item {
          margin-top: 50px;
          position: relative;
          &::after {
            content: " ";
            width: 0;
            height: 2px;
            background-color: $primary-green;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%);
            transition: all 0.3s ease;
          }
          &:hover::after {
            width: 100%;
          }
          &-link {
            @include font-style(16px, $ff-OpenSansSemiBold, $primary-black);
          }
        }
      }

      .menu__close {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 20px;
        top: 20px;
        &:hover {
          border: none;
          background: $primary-grey;
        }
      }
    }
  }
}

@media only screen and (max-width: 390px) {
}

.success {
  width: 896px;
  height: 397px;
  position: fixed;
  z-index: 999999;
  border-radius: 20px;
  background: var(--base-white, #fff);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  top: 30%;
  right: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .sc_wrapper {
    img {
      padding: 15px 294px 10px 294px;
    }

    h1 {
      color: var(--base-black, #140a32);
      font-family: $ff-OpenSansBold;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.96px;
    }
    p {
      color: var(--base-black, #140a32);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
    }

    .zakrit {
      background: $btn-text-green;
      padding: 16px 36px 18px 36px;
      border-radius: 10px;
      background: var(--green, #33836e);
      font-size: 16px;
      color: var(--base-white, #fff);
      font-weight: 600;
      margin: 30px 242px 0 242px;
    }

    .close_ft {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 24px;
      height: 24px;
      background: #fff;
      &:hover {
        background: $primary-grey;
      }
    }
  }
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}
